services:
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    restart: unless-stopped
    environment:
      - GF_SERVER_ROOT_URL=https://grafana.cartazfacil.com/
      - GF_SERVER_DOMAIN=grafana.cartazfacil.com
    ports:
      - '3000:3000'
    volumes:
      - grafana-storage:/var/lib/grafana
      - prometheus-data:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - observability

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - '9090:9090'
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    networks:
      - observability
volumes:
  grafana-storage: {}
  prometheus-data: {}

networks:
  observability:
    name: observability
    driver: bridge

